<%- include("./partials/header") -%>
<div class="jumbotron my-jumbo">
    <h3>Create a Book Instance for yourself</h3>
</div>
<div class="container">
    <h1><%= title %></h1>
    <% var bookinstance; var book_list; var errors %>
    <form action="" method="POST">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="book">Book:</label>
                    <select name="book" id="" class="form-control" placeholder="Select book" required = "true">
                    <% if(book_list.length > 0){ %>
                        <% book_list.sort(function(a,b){let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); %>
                            <% return (textA < textB) ? -1 : (textA > textB) ? 1 : 0 %>
                        <% }) %>
                        <% book_list.forEach( book =>{ %>
                            <% if(bookinstance != undefined){ %>
                                <% if(bookinstance.book.toString()== book._id.toString()){ %>
                                    <option value="<%= book._id %>" selected="selected"><%= book.title %></option>
                                <% }else{ %>
                                    <option value="<%= book._id %>" selected="false"><%= book.title %></option>
                                <% } %>
                            <% }else{ %>
                                <option value="<%= book._id %>"><%= book.title %></option>
                            <% } %>
                        <% }) %>
                    <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="imprint">Imprint:</label>
                    <% if(undefined === bookinstance){ %>
                        <input class="form-control" type="text" name="imprint" id="" placeholder="Publisher and date information" required value="">
                    <% }else{ %>
                        <input class="form-control" type="text" name="imprint" id="" placeholder="Publisher and date information" required value="<%= bookinstance.imprint %>">
                    <% } %>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="imprint">Date when book available:</label>
                    <% if(undefined === bookinstance){ %>
                        <input class="form-control" type="date" name="due_back" id=""  required value="">
                    <% }else{ %>
                        <input class="form-control" type="date" name="due_back" id="" required value="<%= bookinstance.due_back %>">
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <select class="form-control" name="status" id="status" placeholder="Select status" required>
                        <option value="Maintenance">Maintenance</option>
                        <option value="Available">Available</option>
                        <option value="Loaned">Loaned</option>
                        <option value="Reserved">Reserved</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <% if(errors){ %>
                <% errors.forEach((error)=>{ %>
                    <span class="text-danger"><%= error.msg %></span><br>
                <% }) %>
            <% } %>
        </div>
        
    </form>
</div>

<%- include("./partials/footer") -%>
